<ion-view title="Blog" id="page22">
  <ion-content padding="true" class="has-header">
    <ion-list id="blog-list14">
      <ion-item class="item-thumbnail-left item-icon-right stable" id="blog-list-item33" ui-sref="blogPost">
        <img src="img/uhRteGlkTU63KdsZlzuO_IMG-20170409-WA0020.jpg">
        <h2stable>18/04/2017
          <p style="white-space:normal;">¡Bienvenidos a Greenfund!</p>
          <i class="icon ion-android-share-alt"></i>
        </h2stable>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right stable" id="blog-list-item34" ui-sref="blogPost">
        <img src="img/uhRteGlkTU63KdsZlzuO_IMG-20170409-WA0020.jpg">
        <h2stable>18/04/2017
          <p style="white-space:normal;">¡Bienvenidos a Greenfund!</p>
          <i class="icon ion-android-share-alt"></i>
        </h2stable>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right stable" id="blog-list-item35" ui-sref="blogPost">
        <img src="img/uhRteGlkTU63KdsZlzuO_IMG-20170409-WA0020.jpg">
        <h2stable>18/04/2017
          <p style="white-space:normal;">¡Bienvenidos a Greenfund!</p>
          <i class="icon ion-android-share-alt"></i>
        </h2stable>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>