<ion-view title="Blog post" id="page27" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <h2 id="blogPost-heading6" style="color:#000000;text-align:center;">¡Bienvenidos a Greenfund!</h2>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div>
      <img src="img/gmvJfl50SXKj3cVA3AWp_17976628_1433632560044843_67920405_o.jpg" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <h5 id="blogPost-heading7" style="color:#BDBDBD;">19 de Abril del 2017</h5>
    <div id="blogPost-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">Bienvenidos a la sección blog de Greenfund, Aquí podrás conocer y debatir acerca diferente información ambiental.</p>

      <p style="color:#000000;font-size:16px;">El día de hoy quiero platicarte de lo que es ecofilm, bueno ECOFILM es un Festival Internacional de Cortometrajes ambientales, que se realiza anualmente en México. Responde A La Necesidad De Sensibilizar A La Sociedad Sobre La Problemática Ambiental,
        Promoviendo La Producción Audiovisual Y La Cultura Ecológica Con Soluciones Que Equilibren Al Ser Humano En Interacción Con Su Medio Ambiente. En lo personal a mi me gusta bastante, ya que todos sus cortometrajes son buenisimos ya que no solo
        crean conciencia, si no que te informan son interactivos bastante importantes, es justo lo que la sociedad visual necesita para querer actuar ante nuestro nuestro entorno </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/mqf0WsJeSPS2JjRqSob9_descarga.png" style="display: block; width: 100%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="blogPost-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">Sí quieres enterarte más sobre Ecofilm te invito a ingresar al siguiente link ;) saludos! http://ecofilmfestival.org/video-galeria-2/</p>
    </div>
    <button id="blogPost-button15" class="button button-positive  button-block icon-right ion-android-share">Compartir</button>
    <form id="blogPost-form12" class="list">
      <label class="item item-input item-stacked-label" id="blogPost-input30">
        <span class="input-label">Te invito a dejar un comentario!</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>