<ion-view title="Crear evento" id="page18">
  <ion-content padding="true" class="has-header">
    <form id="crearEvento-form6" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <button id="crearEvento-button14" class="button button-positive  button-block icon-left ion-android-image">Subir Foto</button>
      <label class="item item-input" id="crearEvento-input18">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="crearEvento-input24">
        <span class="input-label">Descripción </span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="crearEvento-input20">
        <span class="input-label">Fecha</span>
        <input type="date" placeholder="Fecha">
      </label>
      <label class="item item-input" id="crearEvento-input17">
        <span class="input-label">Hora de inicio</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="crearEvento-input23">
        <span class="input-label">Hora de finalización</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="crearEvento-input19">
        <span class="input-label">Lugar</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="crearEvento-select3">
        <span class="input-label">Temática</span>
        <select>
          <option>Limpieza urbana</option>
          <option>Campaña de reforestación</option>
          <option>Taller</option>
          <option>Charla/Conferencia</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 16px;"></div>
      <button id="crearEvento-button27" style="font-weight:500;" class="button button-balanced  button-block icon-right ion-checkmark-circled">Crear evento</button>
    </form>
  </ion-content>
</ion-view>