<ion-view title="Esta semana" id="page13">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-balanced icon ion-plus"> Crear evento</button>
  </ion-nav-buttons>
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <form id="estaSemana-form9" class="list">
      <div class="spacer" style="height: 20px;"></div>
      <label class="item item-input" id="estaSemana-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar">
      </label>
      <h4 id="estaSemana-heading5" style="color:#000000;font-weight:600;text-align:center;">Eventos destacados</h4>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="estaSemana-slider1" style="width:100%;height:200px;">
        <ion-slide-page id="estaSemana-slide24" style="background:url(&quot;img/BGLz4pVQnaA8wyjhHjDZ_17435942_1411504325538078_7630075926298670369_o.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="estaSemana-slide25" style="background:url(&quot;img/0NQAj4vPQRqx87TQodaf_dZ3eBavoQXOXs9wjsO9u_BANNER-2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
        <ion-slide-page id="estaSemana-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      </ion-slides>
      <label class="item item-select" id="estaSemana-select2">
        <span class="input-label">Temática</span>
        <select>
          <option>Limpieza urbana</option>
          <option>Taller</option>
          <option>Campaña de reforestación</option>
          <option>Charla/Conferencia</option>
          <option>Todas</option>
        </select>
      </label>
    </form>
    <div class="list card" id="estaSemana-card24">
      <ion-item class="item-avatar item-icon-right positive" id="estaSemana-list-item9">
        <img src="img/j4oFPgR3Q5SPcxmB6na5_16640596_658895164312277_7124374510917180358_n.png">
        <h2positive>Un habitante: un árbol
          <p style="white-space:normal;">Bosque Urbano</p>
          <i class="icon ion-android-favorite"></i>
        </h2positive>
      </ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="eventos.nombreDelEvento">
          <img src="img/dZ3eBavoQXOXs9wjsO9u_BANNER-2.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="divider" style="border:1px bottom #ccc;"></div>
      <ion-list>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-alarm-clock"></i>
          <span class="item-note">Lunes 15 de Mayo a las 11:00AM</span>
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-pin"></i>
          <span class="item-note">El Chaco 3200, Providencia, 44630</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-ios-pricetag"></i>
          <span class="item-note">Campaña de reforestación</span>
        </ion-item>
      </ion-list>
    </div>
    <div class="list card" id="estaSemana-card26">
      <ion-item class="item-avatar item-icon-right positive" id="estaSemana-list-item15">
        <img src="img/sLmO3iYbTKqmKhT4gSFC_AkZD0nFESISuc22ZgnwM_profile-pic-white.png">
        <h2positive>Plantas carnívoras,
          <br>orquídeas, cactus y
          <br>suculentas
          <p style="white-space:normal;">Arlen Amezcua</p>
          <i class="icon ion-android-favorite-outline"></i>
        </h2positive>
      </ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="eventos.nombreDelEvento">
          <img src="img/BGLz4pVQnaA8wyjhHjDZ_17435942_1411504325538078_7630075926298670369_o.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="divider" style="border:1px bottom #ccc;"></div>
      <ion-list>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-alarm-clock"></i>
          <span class="item-note">Lunes 15 de Mayo a las 11:00AM</span>
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-pin"></i>
          <span class="item-note"> Zona Centro, 44100 Guadalajara</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-ios-pricetag"></i>
          <span class="item-note">Taller</span>
        </ion-item>
      </ion-list>
    </div>
    <div class="list card" id="estaSemana-card25">
      <ion-item class="item-avatar item-icon-right positive" id="estaSemana-list-item10">
        <img src="img/9z2NqZRIQ7cSxHYuY3xw_logo.png">
        <h2positive>¡Limpia tu ciudad y
          <br> dale una hermosa vista!
          <p style="white-space:normal;">Greenfund</p>
          <i class="icon ion-android-favorite"></i>
        </h2positive>
      </ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="eventos.nombreDelEvento">
          <img src="img/17992080_398137380585114_3831761240299948436_n.jpgoh336b8bcac38f5f87357cb0c882ae14fboe599204C8" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="divider" style="border:1px bottom #ccc;"></div>
      <ion-list>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-alarm-clock"></i>
          <span class="item-note">Lunes 15 de Mayo a las 11:00AM</span>
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-pin"></i>
          <span class="item-note"> Zona Centro, 44100 Guadalajara</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-ios-pricetag"></i>
          <span class="item-note">Limpieza urbana</span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>