<ion-view title="Eventos Pasados" id="page15">
  <ion-content padding="true" class="has-header">
    <ion-list id="eventosPasados-list11">
      <ion-item class="item-thumbnail-left" id="eventosPasados-list-item18">
        <img src="img/1g81QNroTkog4Ff6xdgZ_logo.png">
        <h2>Nombre del Evento</h2>
        <p>Descripción corta del evento</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="eventosPasados-list-item19">
        <img src="img/1g81QNroTkog4Ff6xdgZ_logo.png">
        <h2>Nombre del Evento</h2>
        <p>Descripción corta del evento</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="eventosPasados-list-item20">
        <img src="img/1g81QNroTkog4Ff6xdgZ_logo.png">
        <h2>Nombre del Evento</h2>
        <p>Descripción corta del evento</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="eventosPasados-list-item21">
        <img src="img/1g81QNroTkog4Ff6xdgZ_logo.png">
        <h2>Nombre del Evento</h2>
        <p>Descripción corta del evento</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="eventosPasados-list-item22">
        <img src="img/1g81QNroTkog4Ff6xdgZ_logo.png">
        <h2>Nombre del Evento</h2>
        <p>Descripción corta del evento</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>