<ion-view title="Favoritos" id="page25">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <form id="favoritos-form13" class="list">
      <div class="spacer" style="height: 20px;"></div>
      <label class="item item-input" id="favoritos-search5">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar">
      </label>
    </form>
    <div class="list card" id="favoritos-card27">
      <ion-item class="item-avatar item-icon-right positive" id="favoritos-list-item37">
        <img src="img/j4oFPgR3Q5SPcxmB6na5_16640596_658895164312277_7124374510917180358_n.png">
        <h2positive>Un habitante: un árbol
          <p style="white-space:normal;">Bosque Urbano</p>
          <i class="icon ion-android-favorite"></i>
        </h2positive>
      </ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="eventos.nombreDelEvento_tab2">
          <img src="img/dZ3eBavoQXOXs9wjsO9u_BANNER-2.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="divider" style="border:1px bottom #ccc;"></div>
      <ion-list>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-alarm-clock"></i>
          <span class="item-note">Lunes 15 de Mayo a las 11:00AM</span>
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-pin"></i>
          <span class="item-note">El Chaco 3200, Providencia, 44630</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-ios-pricetag"></i>
          <span class="item-note">Campaña de reforestación</span>
        </ion-item>
      </ion-list>
    </div>
    <div class="list card" id="favoritos-card29">
      <ion-item class="item-avatar item-icon-right positive" id="favoritos-list-item39">
        <img src="img/9z2NqZRIQ7cSxHYuY3xw_logo.png">
        <h2positive>¡Limpia tu ciudad y
          <br> dale una hermosa vista!
          <p style="white-space:normal;">Greenfund</p>
          <i class="icon ion-android-favorite"></i>
        </h2positive>
      </ion-item>
      <div class=" item item-image">
        <a style="display:block;" ui-sref="eventos.nombreDelEvento_tab2">
          <img src="img/17992080_398137380585114_3831761240299948436_n.jpgoh336b8bcac38f5f87357cb0c882ae14fboe599204C8" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="divider" style="border:1px bottom #ccc;"></div>
      <ion-list>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-alarm-clock"></i>
          <span class="item-note">Lunes 15 de Mayo a las 11:00AM</span>
        </ion-item>
        <ion-item class="item-icon-left">
          <i class="icon ion-android-pin"></i>
          <span class="item-note"> Zona Centro, 44100 Guadalajara</span>
        </ion-item>

        <ion-item class="item-icon-left">
          <i class="icon ion-ios-pricetag"></i>
          <span class="item-note">Limpieza urbana</span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>