<ion-view title="Iniciar Sesión" hide-nav-bar="true" hide-back-button="true" id="page9">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="iniciarSesiN-form3" class="list">
      <div class="spacer" style="width: 300px; height: 40px;"></div>
      <div>
        <img src="img/EgwhEF7PQcGH262npxgk_logo-greenfund.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 29px;"></div>
      <a ui-sref="eventos.estaSemana" id="iniciarSesiN-button7" style="font-weight:600;" class="button button-royal  button-block icon-left ion-social-facebook">Iniciar sesión con Facebook</a>
      <div class="spacer" style="width: 300px; height: 27px;"></div>
      <ion-list id="iniciarSesiN-list4">
        <label class="item item-input" id="iniciarSesiN-input6">
          <input type="text" placeholder="Usuario">
        </label>
        <label class="item item-input" id="iniciarSesiN-input7">
          <input type="password" placeholder="Contraseña">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 27px;"></div>
      <a ui-sref="eventos.estaSemana" id="iniciarSesiN-button8" class="button button-positive  button-block">Iniciar Sesión</a>
      <a ui-sref="registroDeUsuario" id="iniciarSesiN-button9" class="button button-stable  button-block">Crear cuenta</a>
    </form>
  </ion-content>
</ion-view>