<ion-view title="Maps Example" id="page12">
  <ion-content padding="true" class="has-header">
    <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options" style="height:300px;">
      <ui-gmap-layer type="TrafficLayer" show="map.showTraficLayer"></ui-gmap-layer>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>