<ion-view title="Próximos Eventos" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="prXimosEventos-list8">
      <ion-item class="item-thumbnail-left positive" id="prXimosEventos-list-item13" ui-sref="eventos.nombreDelEvento">
        <img src="img/NqJSzGmlQbOlWDv1snwo_BANNER-2.jpg">
        <h2positive>Un habitante: un árbol
          <p style="white-space:normal;">Este evento consiste en que cada habitante tenga la oportunidad de obtener un árbol.</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="prXimosEventos-list-item25" ui-sref="eventos.nombreDelEvento">
        <img src="img/NqJSzGmlQbOlWDv1snwo_BANNER-2.jpg">
        <h2positive>Un habitante: un árbol
          <p style="white-space:normal;">Este evento consiste en que cada habitante tenga la oportunidad de obtener un árbol.</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="prXimosEventos-list-item26" ui-sref="eventos.nombreDelEvento">
        <img src="img/NqJSzGmlQbOlWDv1snwo_BANNER-2.jpg">
        <h2positive>Un habitante: un árbol
          <p style="white-space:normal;">Este evento consiste en que cada habitante tenga la oportunidad de obtener un árbol.</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>