$positive: #6AC9C8;
$royal: #3B5998;
$stable: #D4D4D4;
$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
// This code is required for Angular Google Maps to funciton
ui-gmap-google-map {
	height: 100%;
	width: 100%;
	display: block;
	.angular-google-map {
		height: 100%;
		.angular-google-map-container {
			height: 100%;
		}
		
	}
}
.center {
	text-align: center;
}

.ion-android-star {
	font-size: 24px;
}

.no-border {
	border: 0px none;
}

.tematica {
	font-size: 8px;
	font-style: italic;
	color: #D4D4D4;
}

.centered {
	text-align: center;
}

.rounded img {
	border-radius: 50px;
}

.divider {
	border-bottom: 1px solid #e8e8e8;
}

body.platform-ios {
	font-family: Lato, sans-serif;
}

.ionic-body.platform-ios {
	font-family: Lato, sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.tab-item,input,button,select,textarea {
	font-family: inherit;
}

